body {
    margin: 0;
    overflow-x: hidden;
}

section{
    width: 100%;
    height: 200vh;
    position: relative;
}

section>div{
    position: sticky;
    height: 90vh;
    width: 100%;
    background: red;
    top: 0;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
}

section:nth-of-type(1)>div{
    background: white;
}

    section:nth-of-type(1)>div>h1{
        position: relative;
        z-index: 1;
        font-family: 'Pacifico', cursive;
        font-size: 10rem;
        background: linear-gradient(to right, #df12bd, #8d1153);
        fill-color: transparent;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-shadow: 14px 14px 12px #00000038;
    }

    section:nth-of-type(1)>div>.kiss-bg{
        width: 100%;
        position: absolute;
        z-index: 0;
        font-size: 3rem;
        opacity: 0.3;
        text-align: center;
    }

section:nth-of-type(2)>div{
    background: white;
}
    section:nth-of-type(2)>div>h1{
        font-family: 'Rozha One', serif;
        font-size: 5rem;
    }