html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4{
    max-width: 100%;
    overflow: hidden;
    text-overflow: clip;
    /* word-break: break-all; */
}


nav{
    background: rgba(48, 48, 48, 0.8);
    margin: 0;
    position: sticky;
    top: 0;
    color: white !important;
    border-bottom: 1px solid #404040;
    backdrop-filter: blur(10px);
    z-index: 1000;
}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
nav ul li{
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 16px;
    color: inherit !important;
}
nav ul li a{
    color: inherit !important;
    text-decoration: none;
}
nav ul li:hover{
    color: rgb(0,122,254);
    font-weight: 600;
    border-bottom: 2px solid;
}
nav ul li.active{
    font-weight: 600;
    color: yellow !important;
}

#hero{
    padding: 16px;
    box-sizing: border-box;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    height: 80vh;
}
#hero>h1{
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
}
#hero>h1>#name{
    color: #FFA000;
    font-size: 2em;
    vertical-align: middle;
}
#hero>.button{
    margin: 8px;
    border: 1px solid rgb(100, 100, 100);
    color: white;
    text-decoration: none;
    padding: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    background: #303030;
    border-radius: 8px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
    align-items: center;
    font-size: 1.4em;
    overflow-x: hidden;
}
section>*{
    width: 100%;
    max-width: 800px;
}
section>h1{
    font-family: 'Fira Code';
    font-weight: 600;
    font-size: 3.2rem;
    margin: 8px;
}
section h3{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    margin: 0px;
    line-height: 1;
    margin: 4px 0px
}
section h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;

    margin: 0px;
    margin: 4px 0px;

    color: #FFA000;
}
section .dates{
    text-transform: uppercase;
    font-weight: 600;
    color: #6f6f6f;
    font-size: 1rem;
}
section .caption{
    color: #b5b5b5;
    font-size: 1.2rem;
    white-space: pre-wrap;
}


section#about{
    background: #303030;
    color: white;
}
section#about>[name="about_profiles"]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section#about>[name="about_profiles"]>a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
section#about>[name="about_profiles"]>a>img{
    width: 160px;
    height: 160px;
    border-radius: 35%;
    box-shadow: 0px 0px 20px 0px rgba(10,10,10,0.3);
    margin: 8px;
    background: white;
    object-fit: scale-down;
}

section#work{
    background: #252525;
    color: white;
}

section#work>.job{
    padding: 16px 0px;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    align-items: center;
}
section#work>.job>.dates{
    flex: 1;
    margin-right: 16px;
    text-align: right;
    font-size: 1.2rem;
}

section#work>.job>.job_details{
    flex: 3;
    margin-left: 4px;
    color: #b5b5b5;
}
section#work>.job>.job_details>h3{
    color: white;
}

/* 
section#work>.job>.job_details>ul.job_highlights{
    margin: 8px 0px;
    font-size: 0.9em;
}
section#work>.job>.job_details>ul.job_highlights>li{
    padding: 2px 0px;
} */

section#education>[name="education_studies"]{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#education{
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    background-color: #303030;
    color: white;
}

section#education>[name="education_studies"]>.study{
    background: black;
    padding: 16px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 8px;

}






section#education>[name="education_studies"]>.study>.study_place{
    
}

section#competitions{
    background: black url('/img/dynamic.gif');
    background-blend-mode: luminosity;
    background-size: cover;
    color: white;
}

section#competitions>ul[name="competitions_competitions"]{
    padding: 0;
    margin: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
}
section#competitions>ul[name="competitions_competitions"]>li{
    padding: 8px 16px;
    margin: 16px;
    background: white;
    color: black;
    border-radius: 4px;
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
section#skills .skill{
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 0.5px dotted;
}

section#skills .tools{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#skills .tools span{
    display: block;
    margin: 16px;
    text-align: center;
    flex: 1;
}

section#skills .tools i{
    font-size: 3em;
    display: inline-block;
    width: 100%
}

@media only screen and (max-width: 800px){
    #hero>h1{
        font-size: 1.5em;
    }
    section>h1{
        font-size: 2.8rem !important;
    }
}
@media only screen and (max-width: 500px){
    section>h1{
        font-size: 1.6rem !important;
    }
    section h3{
        font-size: 1.5rem !important;
    }
}

@media print{
    body{
        color: black;
        font-size: 8pt !important;
        
    }
    nav{
        display: none;
    }

    #hero{
        background: transparent;
        color: black;
        height: auto;
        border-bottom: 1px solid ;

        padding: 0;
    }

    #hero>h1, #hero>h1>*{
        color: black !important; 
        font-size: 14pt !important;
        font-weight: 800;
        margin: 0;
    }
    #hero>.button{
        display: none;
    }
    section{
        background: none !important;
        color: black;
        padding: 0.25cm 1cm !important;
        page-break-after: auto;
        page-break-before: auto;
        page-break-inside: avoid;
    }
    section>h1{
        color: black;
        font-size: 18pt !important;
    }
    section>h2{
        font-size: 14pt !important;
        color: #6f6f6f !important;
    }
    section>p{
        font-size: 12pt !important;
        margin: 4pt;
    }
    section>*{
        color: black;
    }


    section h3{
        font-size: 12pt !important;
        font-weight: 600;
        margin: 2pt 0pt !important
    }
    section h4{
        font-size: 12pt;
    }
    section .dates{
        font-size: 10pt !important;
    }
    section .caption{
        font-size: 10pt;
        color: #303030;
    }

    section>h1>br{
        display: none;
    }

    section#about>[name="about_profiles"]{
        display: flex;
        font-size: 10pt !important;
        border-top: 0.02cm dotted;
        border-bottom: 0.02cm dotted;
    }
    section#about>[name="about_profiles"]>a{
        display: block;
        margin: 0pt;
        color: black;
    }
    section#about>[name="about_profiles"]>a>img{
        margin: 4pt;
        box-shadow: none;
        height: 14pt;
        width: 14pt;
        vertical-align: middle;
    }

    section#education>[name="education_studies"]{
        flex-direction: row;
    }
    section#education>[name="education_studies"]>.study{
        background: none !important;
        color: black;
        padding: 0pt !important;
        margin: 0pt !important;
        flex: 1;
    }
   
    section#work>.job h3{
        color: black !important;
    }
    section#work>.job{
        page-break-before: always !important;
        page-break-inside: avoid !important;
        page-break-after: always !important;
        padding: 4pt 0pt !important;
        page-break-before: always;
        page-break-inside:avoid;
        border-bottom-style: dotted;
    }
    section#work>.job>*{
        page-break-before: avoid !important;
        page-break-inside: avoid !important;
    }
    section#work>.job>.dates{
        margin-right: 4pt !important;
    }
    section#work>.job>.job_details{
        margin-left: 4pt !important;
        flex: 4 !important;
    }
    section#competitions>ul[name="competitions_competitions"]>li{
        padding: 4pt 1pt !important;
        margin: 0 !important;
        max-width: unset !important;
        width: 50%;
        box-sizing: border-box;
    }
    section#competitions>ul[name="competitions_competitions"]>li>a,
    section#competitions>ul[name="competitions_competitions"]>li>hr
    {
        display: none;
    }
    
    section#skills .skill{
        margin: 4pt 0pt !important;
        padding: 4pt 0pt !important;
        font-size: 14pt !important;
    }

    section#skills .tools i{
        font-size: 18pt !important;
    }

    footer{
        display: block !important;
    }

}
#blog{
    background: #303030;
}
#blog #container{
    display: flex;
}
#blog #container article *{
    color: white;
}
#blog .card{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: inherit;
    text-decoration: none;
    flex: 1;
    margin: 8px;
    background-color: white;
    color: black !important;
}
#blog .card .card_author{
    margin-top: auto;
}



#blog .title{
    display: flex;
}
#blog .title span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(100, 100, 100);
}